doctype HTML
html
	head
		meta(charset="UTF-8")
		title="Hello Pug"
	body
		p Zaloguj się, aby uzyskać pełen dostęp do informacji!
		form(action='http://localhost:3000/auth/google',method='GET')
			button(type='submit') Zaloguj
